
.markdown-preview.markdown-preview {
    font-family: "HackGen";
    font-size: smaller;
    // modify your style here
    // eg: background-color: blue;  
    h1 {
      padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
      color: #494949;/*文字色*/
      background: #eaf4fc;/*背景色*/
      border-left: solid 10px #7db4e6;/*左線*/
      border-bottom: solid 3px #d7d7d7;/*下線*/
      font-size: 1.2em;
    }
  
    h2 {
      position: relative;
      padding: 0.5em;
      background: #7db4e6;
      color: white;
      font-size: 1.2em;
    }
  
    h3 {
      border-bottom: solid 3px #7db4e6;
      position: relative;
      font-size: 1.2em;
    }
  
    h4 {
      border-bottom: solid 3px #cce4ff;
      position: relative;
      font-size: 1.2em;
    }
  }
  
  /*
  // Please visit the URL below for more information:
  //   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css
  
  .markdown-preview.markdown-preview {
    // modify your style here
    // eg: background-color: blue;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "HackGen";
      font-size: 1.2em;
    }
  
    body {
      font-family: "HackGen";
    }
    [class*="language"] {
      font-family: "HackGen";
    }
    .task-list-item-checkbox {
      font-family: "HackGen";
      font-size: smaller;
    }
    .list-task {
      font-family: "HackGen";
      font-size: smaller;
    }
    // 以下の部分
    h1 {
      counter-reset: chapter;
      font-size: 1.8em;
      border-style: solid;
      border-width: 0 0 1px 0;
    }
    h2 {
      counter-reset: sub-chapter;
      font-size: 1.5em;
    }
    h3 {
      counter-reset: section;
    }
  
    h2::before {
      counter-increment: chapter;
      content: counter(chapter) ". ";
    }
    h3::before {
      counter-increment: sub-chapter;
      content: counter(chapter) "." counter(sub-chapter) ". ";
    }
    h4::before {
      counter-increment: section;
      content: "(" counter(section) ") ";
    }
  }
  */